*{
  padding: 0;
  margin: 0;
}

:root{
  --noite: #0D1B2A;
  --dia: #F3B700;
  --escuro: #071013;
  --padrao: #546A7B;
}

body{
  font-family: Georgia, 'Times New Roman', Times, serif;
  background-color: var(--padrao);
}

header{
  text-align: center;
  padding-top: 20px;
  font-weight: 600;
  font-size: 1.2rem;
  color: white;
}

main > div{
  text-align: center;
  padding-top: 20px;
}

div > input{
  padding: 4px 40px;
  margin-left: 5px;
  border: none;
  background-color: #72727E;
  color: white;
  font-weight: 600;
  border-radius: 2px;
  transition-duration: 0.3s;
}

div > input:hover{
  background-color: #625F63;
}